button {
 display: block;
 margin: 20px auto 50px;
  background-color: aliceblue;
  border:5px solid cadetblue;
  font-size: 22px;
  padding: 20px 50px;
}

.showName {
  text-align: center;
  font-size: 26px;
}